@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	background: #dd9;
	color: #440;
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: 450;
	font-style: normal;
}
body {
	padding: 8px 8px 48px 8px;
	font-size: 16px;
}
img.letters {
	display: block;
	margin: 32px auto 0 auto;
	border-radius: 20px;
	border: #994 dotted 2px;
	opacity: 55%;
}
header {
	margin-bottom: 24px;
	display: flex;
}
.column {
	flex-basis: calc((100% - 640px) / 2);
}
nav.column, aside.column {
	min-width: 260px;
}
nav.column {
	font-size: 14px;
	margin-bottom: 24px;
}
nav.column ol {
	padding-left: 0;
}
ol {
	list-style-position: inside;
}
a.nav-link {
	background: #994;
	color: #dd9;
	margin: 32px 0 0 8px;
	width:32px;
	height:32px;
	border-radius: 100%;
	font-size: 24px;
	display: inline-block;
	text-align: center;
	padding-top: 1px;
}
a.nav-link:nth-child(1) {
	padding-right: 3px;
	margin-left: 8px;
}
a.nav-link:nth-child(2) {
	padding-top: 0.5px;
	font-size: 29px;
	font-weight: 600;
	vertical-align: bottom;
	line-height: 31px;
}
a.nav-link:nth-child(3) {
	padding-left: 3px;
}
.number {
	background: #994;
	color: #fff;
	padding-top: 12px;
	margin: 11px 8px 0 0;
	border-radius: 100%;
	font-size: 20px;
	width:50px;
	height:50px;
	text-align:center;
	font-weight: 600;
}
.titles {
	flex-basis: 640px;
	flex-grow: 0;
	flex-shrink: 1;
}
.intro {
	white-space: pre-wrap;
	font-style: italic;
	font-size: 16px;
	text-align: right;
	margin-bottom: 24px;
	line-height: 22px;
	color: #760;
}
article {
	display: flex;
	flex-wrap: wrap;
}
section.content {
	flex-basis: 640px;
	flex-grow: 0;
	flex-shrink: 1;
	margin: 0 auto;
}
h1 {
	color: #fff;
	text-shadow: #230 1px 1px 2px;
	font-size: 32px;
}
h2, h3, nav.column h3 {
	color: #867726;
	text-shadow: #d3bc84 1px 1px 1px;
	margin-bottom: 8px;
	font-size: 17px;
}
h2 {
	font-size: 24px;
	margin-bottom: 0px;
}
h3.subsection {
	color: #b27d00;
	font-weight: 300;
	text-shadow: none;
	background: #eeeea2;
	display: inline-block;
	padding: 2px 18px;
	border-radius: 16px;
	margin-left: -18px;
}
p {
	margin-bottom: 12px;
	line-height: 22px;
}
a {
	color: #870;
	text-decoration: none;
	border-bottom: #870 dashed 1px;
}
a:hover {
	border-bottom: #870 solid 1px;
}
section.content ol {
	font-weight: 600;
	margin-bottom: 16px;
}
section.content ol li {
	line-height: 150%;
}
section.content ol li ol {
	font-weight: normal;
	padding-left: 32px;
	margin-bottom: 0;
}